<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net debug="false">
    <appender name="InfoLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_info.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <appender name="EventLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_event.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <appender name="ErrorLoging" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log_error.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="InfoLoging" />
      <appender-ref ref="EventLoging" />
      <appender-ref ref="ErrorLoging" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="FEPVOA" connectionString="workstation id=Server;packet size=4096;user id=sa;data source= 10.20.46.22; persist security info=True;initial catalog=FEPVOA;password=FepvXH1001" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <!--<connectionStrings>
    <add name="FEPVOA"
         connectionString="server=(local);database=FEPVOA;Integrated Security=true;"
         providerName="NBear.Data.SqlServer.SqlDbProvider"/>
  </connectionStrings>-->

  <appSettings>
    <!---Sensor Settings-->
    
    <!---BauBang Settings-->
    <add key="Sensor_IP_BB" value="10.20.46.60"/>
    <add key="Sensor_Port_BB" value="4001"/>
    <add key="Sensor_SerialNo_BB" value="HE20151114"/>
    
    <!---HCM Settings-->
    <add key="Sensor_IP_HCM" value="10.20.255.100"/>
    <add key="Sensor_Port_HCM" value="4001"/>
    <add key="Sensor_SerialNo_HCM" value="HE20151120"/>
    
    <add key="Time_Check" value="600"/> <!--Second-->
    <add key="DailyReportTime" value="23:59:50"/> <!--Time Format: HH:mm:ss-->

    <!---Email Settings-->
    <add key="Host" value="10.20.47.3"/>
    <add key="Domain" value="fenc"/>
    <add key="Port" value="587"/>
    <add key="User" value="eMES"/>
    <add key="Pass" value="%e1234"/>
    <add key="EmailFrom" value="eMES@fenc.vn"/>
    <add key="EmailTo" value="dtnguyen@fenc.vn"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
